body {
    text-align: center;
    margin: 100px;
    background: #b7c5b7;
}

h2 {

}

table, tr, th, td {
    border: 1px solid black;
    max-width: 1000px;
}

.box_1 {
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 100px;
}
