<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ the_title }}</title>
    <link rel="stylesheet" href="/static/hr.css">
</head>
<body>
{% block body %}

{% endblock %}
</body>
</html>