{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>
<div class="box_1">
    <form method="post" action="/search">
        <table>
            <p> Форма: </p>
            <tr>
                <td> Фраза:</td>
                <td><input name="phrase" type="text" width="60"></td>
            </tr>
            <tr>
                <td> Буквы:</td>
                <td><input name="letters" type="text" value="aouei"></td>
            </tr>
        </table>
        <p> When you ready, click this button:</p>
        <p><input value="Do it!" type="submit"></p>
    </form>
</div>
{% endblock %}