{% extends 'base.html' %}

{% block body %}

<h2>Ссылки для проверки доступа</h2>
<h3>{{ the_status }}</h3>
<div class="box_1">
    <a href="http://localhost:5000/login">/login</a>
    <a href="http://localhost:5000/logout">/logout</a>

    <a href="http://localhost:5000/page1">/page1</a>
    <a href="http://localhost:5000/page2">/page2</a>
    <a href="http://localhost:5000/page3">/page3</a>
</div>
{% endblock %}