{% extends 'base.html' %}

{% block body %}

<h2>{{ the_title }}</h2>
<p> Форма: </p>
<div class="box_1">
    <table>
        <tr>
            <td> Фраза:</td>
            <td> {{ the_phrase }}</td>
        </tr>
        <tr>
            <td> Буквы:</td>
            <td> {{ the_letters }}</td>
        </tr>
    </table>
</div>

<p>Result:</p>
<h3> {{ the_result }} </h3>
{% endblock %}